@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 270 8% 5%;

    --card: 240 8% 97%;
    --card-foreground: 270 8% 5%;

    --popover: 240 8% 97%;
    --popover-foreground: 270 8% 5%;

    --primary: 263 63% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 270 6% 93%;
    --secondary-foreground: 270 8% 5%;

    --muted: 270 6% 93%;
    --muted-foreground: 261 6% 45%;

    --accent: 270 6% 93%;
    --accent-foreground: 270 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 6% 90%;
    --input: 260 7% 82%;
    --ring: 263 24% 74%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 260 7% 8%;
    --foreground: 300 9% 98%;

    --card: 260 6% 10%;
    --card-foreground: 300 9% 98%;

    --popover: 260 6% 10%;
    --popover-foreground: 300 9% 98%;

    --primary: 263 70% 50%;
    --primary-foreground: 300 9% 98%;

    --secondary: 263 8% 19%;
    --secondary-foreground: 300 9% 98%;

    --muted: 262 7% 29%;
    --muted-foreground: 264 8% 49%;

    --accent: 263 71% 19%;
    --accent-foreground: 300 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 264 8% 12%;
    --input: 263 9% 18%;
    --ring: 263 70% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
